@page "/"

@inject ICategoryData categoryData
@inject IStatusData statusData
@inject ISuggestionData suggestionData
@inject IUserData userData
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject NavigationManager Navigation

<h1 class="page-heading text-uppercase mb-4">Training Suggestions</h1>


<button @onclick="GoToSecondPage">SampleData</button>

@code {
	void GoToSecondPage() => Navigation.NavigateTo("/SampleData");
}
